/Users/tousifrahaman/Documents/GitHub/MERN_bookstore/frontend/node_modules
/Users/tousifrahaman/Documents/GitHub/MERN_bookstore/backend/node_modules
/Users/tousifrahaman/Documents/GitHub/MERN_bookstore/backend/config.js